@import url(/src/css/_values/style_values.css);
@import url(/src/css/section-students/section-students.css);
@import url(/src/css/section-form/seciton-form.css);

:root {
  --brand-color: #0c322a;
  --error-color: #8b0000;
  --disabled-color: grey;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #EEF2F3;
}

.disabled {
  background-color: var(--disabled-color);
  color: black;
}

.pointer {
  cursor: pointer;
}

.disabled:hover {
  background-color: var(--disabled-color);
  color: black;
  outline: none;
  cursor: not-allowed;
}